NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_BACKEND_URL=/api
BACKEND_URL=
PERSISTENCE_KEY=
GITHUB_REPO=
GITHUB_TOKEN=
GITHUB_BRANCH=main
GITHUB_STORAGE_BRANCH=
GITHUB_STORE_DIR=
MERCADOFARMA_USUARIO=
MERCADOFARMA_SENHA=
NODE_OPTIONS=--use-system-ca
